.best-value {
  background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
  padding: 64px 0px 162px 0px;
  @include lg {
    padding: 50px 0px;
  }
  @include sm {
    padding: 30px 0px;
  }
  &__container {
    max-width: 1080px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icon {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__title {
    font-family: HelveticaNeue;
    font-size: 48px;
    font-weight: 400;
    @include lg {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 36px;
    @include lg {
      font-size: 26px;
    }
  }

  &__body {
    margin-top: 42px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    @media (max-width: 1100px) {
      gap: 30px;
    }
    @include lg {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30px;
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__column {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }

  &__picture {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &.picture-image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
    }
    img {
      max-width: 100%;
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &__content {
    padding: 22px 20px 27px 22px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__name {
    color: #435766;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: 400;
  }

  &__text {
    color: #435766;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    margin-top: auto;
    text-align: center;
  }
}
