@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/Helvetica_Neue/HelveticaNeue-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/Helvetica_Neue/HelveticaNeue-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
