// Container & Breakpoints
@use 'sass:math';
// $containerWidth: 1200;
// $containerPadding: 40;
// $containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;
$greenColor: #8DD83D;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: #131418;
$burgerActiveColor: #fff;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';
